.web-score {
  font-size: 30px;
  font-family: sans-serif;
  position: absolute;
  top: 0;
  left: 20px;
}

.answer-text {
  position: absolute;
  top: 0;
  right: 20px;
  font-family: sans-serif;
  font-size: 30px;
}
