* {
  box-sizing: border-box;
  border: none;
  outline: none;
  user-select: none;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  max-width: 100%;
  background-color: #1e8282;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input {
  background-color: #1dcccc;
  padding: 11px;
  font-size: 18px;
  font-weight: 600;
  width: 300px;
  margin-bottom: 35px;
  border-radius: 4px;
  transition: border-radius 0.2s ease-in-out;
}

input:focus {
  background-color: #18b8b8;
  border-radius: 6px;
}

h1 {
  font-family: sans-serif;
  font-size: 40px;
  margin-bottom: 35px;
  margin-top: 25px;
}

button {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 20px;
  border-radius: 4px;
  padding: 6px;
  background-color: #1dcccc;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #18b8b8;
}
